<table class="table">
    <tr>
        <td width="64" style="border: 0;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0;">
            <p><a href="{{ url_for('users.user', username=user.username) }}">{{ user.username }}</a></p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).format('lll') }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following</p>
                {% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('users.follow', username=user.username) }}">Follow</a>
                    {% else %}
                        <a href="{{ url_for('users.unfollow', username=user.username) }}">UnFollow</a>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>
