{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Social App{% else %}Welcome to Social App{% endif %}
{% endblock %}

{% block navbar %}
    {% include '_navbar.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% include '_messages.html' %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
